<h1>CHAT</h1>
<span id="chats"></span>
  <fieldset>
    <label id="name"></label>
    <input type="text" name="text" id="text" placeholder="Type!" />
  </fieldset>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/chat.js"></script>