<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<a href="./">Home</a>
<a href="./">New product</a>
<a href="./users">Register</a>
<a href="./products">PRODUCTS</a>
<body>
    <nav></nav>
    {{{body}}}
    <footer></footer>
</body>
</html>